.premium-button{
    background: linear-gradient(to right, #8c3996, #3337aa, #873b91);
     box-shadow: 0 8px 10px rgb(131, 82, 142)
}
.expense-button{
    background: linear-gradient(to right, #8c3996, #3337aa, #873b91);
}