*{
   box-sizing: border-box;
   
}

body{
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     /* background: linear-gradient(to right, #8c3996, #3337aa, #873b91); */
     /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
     background-color: rgb(228, 224, 224);
     overflow: hidden;
     margin: 0;
     padding: 0;
}
.reset-password-container{
    
    max-width: 400px;
    background-color: #ffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display:none
}
h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #9d1cab;
}
label{
      display: block;
      margin-top: 1rem;
      font-weight: bold;
      /* color: #555; */
      color: #9d1cab;
}
input{
      width: 100%;
      padding: 10px;
      margin-top: 6px;
      border: 1px solid #981cb4;
      border-radius: 6px;
      font-size: 16px;
}
input::placeholder{
    color: #9d1cab;
    opacity: 0.5;
}
 button {
      width: 100%;
      margin-top: 1.5rem;
      background: linear-gradient(to right, #8f2d9c, #3337aa, #8f2d9c);
      color: white;
      padding: 12px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
button:hover{
    background-color: #1435ae;
}
#error-message{
    color: red;
    text-align: center;
    
}
